[project]
	description = You can find some code about vrbrid like: blinking led, i2c, nand, etc.
[access "refs/*"]
	owner = group user/Jesús Alberto Sánchez (jesusalbertosmf)
[access "refs/for/refs/*"]
	read = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	push = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	label-Code-Review = -2..+2 group user/Jesús Alberto Sánchez (jesusalbertosmf)
	label-Verified = -1..+1 group user/Jesús Alberto Sánchez (jesusalbertosmf)
	rebase = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	removeReviewer = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	submit = group user/Jesús Alberto Sánchez (jesusalbertosmf)
[access "refs/heads/*"]
	read = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	create = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	push = +force group user/Jesús Alberto Sánchez (jesusalbertosmf)
	pushMerge = group user/Jesús Alberto Sánchez (jesusalbertosmf)
[access "refs/tags/*"]
	push = +force group user/Jesús Alberto Sánchez (jesusalbertosmf)
	pushTag = group user/Jesús Alberto Sánchez (jesusalbertosmf)
	pushSignedTag = group user/Jesús Alberto Sánchez (jesusalbertosmf)
